label {
	color: #B4886B;
	font-weight: bold;
	display: block;
	width: 150px;
	float: left;
}

#employeePic {
	float: left;
	padding-right: 10px;
	padding-bottom: 16px;
}

#employeeDetails p {
	margin-top: 0px;
	margin-bottom: 8px;
}

#actionList {
	clear: both;
}